$background: #EAEAEA;
$themeColor: #E5A637;

$gridBtnColor: #FFF;
$gridBtnBackground: #E6A938;
$gridBtnBorder: none;

$gridBtnColorLight: blue;
$gridBtnBackgroundLight: transparent;
$gridBtnBorderLight: 1px solid blue;

$paragraphFont: "Roboto", "PingFang SC", "Hiragino Sans GB", Arial, "Microsoft YaHei", "Helvetica Neue", sans-serif;
$titleFont: "Quicksand", "PingFang SC", "Hiragino Sans GB", Arial, "Microsoft YaHei", "Helvetica Neue", sans-serif;

$defaultShadow: 0 5px 25px rgba(0, 0, 0, .07);
$defaultFocusShadow: 0 5px 10px rgba(0, 0, 0, .25);