@import "../variable.scss";

.grid {
    .pager {
        margin: 24px;
        text-align: right;
        span {
            font-family: 'Quicksand';
            font-weight: 400;
            margin: 0 20px;
        }
    }
    a.btn {
        padding: 8px 20px;
        display: inline-block;
        color: $gridBtnColor;
        background: $gridBtnBackground;
        border: $gridBtnBorder;
        border-radius: 36px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
        &:hover {
            color: $gridBtnColor;
            transform: translateY(1px);
            box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
        }
    }
}

.grid-light .grid {
    .pager {
        margin: 12px 0;
        text-align: center;
        font-size: 13px;
    }
    a.btn {
        padding: 5px 25px;
        line-height: 12px;
        display: inline-block;
        color: $gridBtnColorLight;
        background: $gridBtnBackgroundLight;
        border: $gridBtnBorderLight;
        border-radius: 2px;
        box-shadow: none;
        &:hover {
            color: $gridBtnColorLight;
            transform: none;
            box-shadow: none;
        }
    }
    .loader > div {
        background: $gridBtnColorLight !important;
    }
}