@import "variable.scss";

@mixin withRoboto($size) {
    font-weight: $size;
    font-family: $paragraphFont;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@mixin withQuick($size) {
    font-weight: $size;
    font-family: $titleFont;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@mixin outlineShadow($radis) {
    box-shadow: $defaultShadow;
    border-radius: $radis;
}

@mixin outlineShadowFocus() {
    box-shadow: $defaultFocusShadow;
}